In [1]:
sum([1, 2, 3, 4, 5])

15

In [3]:
def sum(items):
    result = 0
    for itm in items:
        result += itm
    return result

In [4]:
sum([1,2, 3, 3])

9

In [5]:
def r_sum(items):
    return items[0] + r_sum(items[1:]) if items else 0

In [6]:
r_sum([1, 2, 3, 4])

10

In [7]:
all([True, False, True])

False

In [8]:
any([True, False, True])

True

In [10]:
a = [1, 0, 1, 1, 1]
b = [1, 1, 1, 1, 1]

In [11]:
any(b) and not all(b)

False

In [12]:
import time

In [13]:
time.time()

1590084892.04317

In [14]:
import random

In [16]:
random.random()

0.9908840711714677

In [18]:
a = [1, 2, 3, 4]

In [19]:
random.shuffle(a)

In [20]:
a

[4, 3, 1, 2]

In [23]:
random.choice(a)

3

In [24]:
import datetime as dt

In [28]:
dt.datetime.now()

datetime.datetime(2020, 5, 21, 21, 27, 12, 205199)

In [29]:
d_now = dt.datetime.now()

In [30]:
d_now.timestamp()

1590085646.368363

In [31]:
new = dt.datetime.fromtimestamp(1590085646.368363)
new

datetime.datetime(2020, 5, 21, 21, 27, 26, 368363)

In [33]:
new - delta

datetime.datetime(2020, 5, 20, 21, 27, 26, 368363)

In [37]:
print(new)

2020-05-21 21:27:26.368363

In [38]:
import sys

In [54]:
sys.platform

'darwin'

In [55]:
import itertools

In [106]:
def iter_pred(seq, rep):
    i = 0
    for x in itertools.cycle(seq):
        i += 1
        if i == rep:
            break
        print(x)

In [107]:
b = iter_pred('123', 5)

1
2
3
1